/* cards.css */

.cards-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.summary-card {
    background: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.big-number {
    font-size: 28px;
    color: #e74c3c;
}

.big-number2 {
    font-size: 28px;
    color: #27ae60;
}

.big-number3 {
    font-size: 28px;
    color: #1e1ad5;
}